/* * {
    box-sizing: border-box;
   
  } */
  


body {
        background-image: url("../images/raccon.jpg");
        background-repeat: no-repeat center center fixed; 
        -webkit-background-size: cover; 
        -moz-background-size: cover; 
        -o-background-size: cover; 
        background-size: cover;
    
  
}

#edu,
#port {
    background-image: url("../images/4k-wallpaper-architecture-background-1308624.jpg");
    background-repeat: no-repeat center center fixed; 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;



}
#name {
    color:whitesmoke;
    margin-top: 375px;
    padding-bottom: 60px;
    /* border: solid red 5px; */
}

#famu {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 20px;
 
}


#clear-box {
    /* border: solid red 5px; */
    margin-top: 75px;
    padding:5px;
}   

.grow { 
    transition: all .2s ease-in-out;
    margin-left: 120px; 

    width: 200px;
    height: 600px;
    margin: 35px;
}


.grow:hover {
    transform: scale(1.1);
}
h2 {
    /*padding-bottom: 40px; */
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.navbar {
    margin-bottom: 20px;
}

 .profile {
   
    height:200px;
    width: 200px;
    margin:20px;

}

p {

    line-height: 200%;

}

/*portfolio*/


/* .card {
    width: 200px;
    height: 600px;
    margin: 35px;
} */

img {
    height: 180px;
    width: 200px;

}
.work h3 {

        position: absolute;
        bottom: 20px;
        width: 90%;
        padding: 10px;
        margin-bottom: 0;
        font-weight: 300;
        line-height: 20px;
        color: #fff;
        text-align: center;
        background: #4aaaa5;
        border-bottom: 0;
    
      }



.footer {
    position: fixed;
    font-size: 8px;
    text-align: center;
    bottom:0px;
    left: 0px; 
    /* padding: 30px 0; */
    font-size: 12px;
    background: #666;
    border-top: 8px solid #4aaaa5;
    height: 50px;
    margin-top:30px;
    width:100%;
  

}
@media screen and (max-width: 980px) {
  
    .main-section {
      float: left;
      width: 100%;
      max-width: 960px;
      padding: 10px;
      margin: 5 5 40px;
      background: #fff;
      border: 5px solid #ddd;
    } 
      }
  @media screen and (max-width: 768px) {
    
    .maincontainer {
      float: left;
      width: 100%;
      max-width: 750px;
      padding: 10px;
      margin: 5 5 40px;
      background: #fff;
      border: 5px solid #ddd;
    } 
    nav {
      float:left;
    }
    }
  @media screen and (max-width: 640px) {
    
  .maincontainer {
    float: left;
    width: 100%;
    max-width: 600px;
    padding: 10px;
    margin: 0 0 40px;
    background: #fff;
    border: 5px solid #ddd;
  } 
  nav {
    float:left;
  }
  }